@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;500&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;

}

.caixa-principal {
    height: 100vh;
    width: 100%;
    background-image: url(./img/background1.png);
    background-size: cover;
    background-position: center;
    background-color: #191919;


}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 30px;
    padding-top: 10px;
}

.portifolio {
    color: white;
    font-size: 40px;
    font-weight: 500;
    margin-left: 12px;
    margin-top: 12px;
}


.portifolio span {
    color: #f9004d;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
    display: inline-block;
    font-size: 25px;
    margin-left: 35px;

}

li a {
    color: white;
    cursor: pointer;
}

a:hover {
    color: #f9004d;
    transition: 0.5s;
}

.meu-nome {
    display: flex;
    flex-direction: column;
    margin-top: 15%;
    margin-left: 3%;
    width: 500px;
    height: 98px;
}

h1 {
    color: white;
    font-size: 65px;
    margin-bottom: 5px;
}

h1 span {
    color: #f9004d;
}

.meu-nome h3 {
    color: white;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    padding-top: 100px;
    padding-bottom: 55px;
}

section img {
    height: 250px;
    margin: 30px 10px;
}

.caixa-sobremim p {
    width: 600px;
    margin-top: 5px;
    display: flex;
}

.caixa-sobremim h3 {
    margin-top: 5px;
}

.contatos {
    display: inline-flex;
    flex-wrap: wrap;
    margin-top: 6px;
    gap: 45px;
}

.contatos button {
    background-color: #f9004d;
    padding: 10px;
    border-radius: 6px;
    height: 40px;
    width: 115px;
    cursor: pointer;
}

.contatos a {
    color: black;
}

/*.github {
    display: inline-flex;
    display: block;
    margin: -35px auto;
}*/ 

.box-notification {
    height: 50px;
    width: 200px;
    background-color: greenyellow;
    position: fixed;
    top: 0px;
    right: 0px;
}

.skills {
    margin-top: 10px;
}

.skills h2 {
    display: inline-block;

}

.projetos {
    background-color: #191919;
    padding-bottom: 50px;
}

.projetos h1 {
    text-align: center;
    padding-top: 90px;
}

.projetos h3 {
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
}

.projetos img {
    height: 50px;
    width: 50px;
}

.projetos p {
    color: white;
    text-align: center;
    line-height: 20px;
    margin-top: 8px;
}

.box-projetos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 68vw;
    margin: 0 auto;

}

.box-projetos a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.box-projetos a:hover {
    text-decoration: underline;
}

.cards {

    background-color: black;
    margin: 0 auto;
    padding: 15px;
    height: 300px;
    width: 219px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
    margin-top: 30px;
    border-radius: 12px;
    margin-left: 32px;
    margin-right: 1px;
}


.destaque {
    text-align: center;
    font-size: 15px;
}

.cards h3 {
    padding-top: 10px;
}

.ico-github {
    height: 40px;
    position: relative;
    top: 48px;
    left: 60px;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}

@media (max-width: 990px) {
    .caixa-principal {
        background-image: none;
        text-align: center;
        height: 67vh;
    }
    
    nav p{
        margin: 0 auto;
    }
    nav ul {
        display: none;
    }

    .meu-nome{
        width: 100vw;
        margin: 42vw auto;
    }

    .sobre{
        width: 100vw;
    }
    .sobre h2{
        font-size: 40px ;
    }

    #sobre img{
        display: none;
    }

    .caixa-sobremim h2 {
        text-align: center;
        margin-bottom: 20px;
    }
    .caixa-sobremim h3 {
        text-align: center;
        margin-bottom: 20px;
    }
    .caixa-sobremim p{
        width: 100vw;
        font-size: 14px;
        text-align: center;
        padding: 12px;
    }

    .contatos{
        display: inline-flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 15px;
        gap: 25px;
    }

    .skills{
        text-align: center;
        margin-top: 25px;
    }
    .skills h2{
        margin-bottom: 3px;
    }
    .skills p{
        margin: 0 auto;
        display: block;
    }

    .projeto-cordeu{
        height: 329px;
    }

    .conversor{
        height: 360px;
    }
}